# Ignore byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# Ignore Egg files
*.egg-info/
# Ignore virtual environments
dev
.venv
# Ignore the zipfile build directory
build
# Generated at build time
machine/version.txt

